{#
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright &copy; {{ 'now' | date('Y') }}  All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center" style="color: #118A18">Upwork Tracker Application</span>
    </div>
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block mt-2">Developed By: <a href="https://www.oussema-sferi.dev" target="_blank">Oussema Sferi</a></span>
</footer>#}
