<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_dashboard') }}">
            <i class="icon-box menu-icon"></i>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_jobs_index') }}">
            <i class="icon-briefcase menu-icon"></i>
            <span class="menu-title">Jobs</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_settings') }}">
            <i class="icon-settings menu-icon"></i>
            <span class="menu-title">Settings</span>
        </a>
    </li>
</ul>