<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="{{ asset('admin/images/faces/face28.png') }}">
        </div>
        <div class="user-name">
            {{ app.user.email }}
        </div>
        <div class="user-designation">
            Freelance Developer
        </div>
    </div>
    <!-- Sidebar Menus -->
    {% include 'admin/_sidebar_menus.html.twig' %}
    <!-- Sidebar Menus -->
</nav>