<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            {% if app.user.profilePicture %}
                <img src="{{ asset('uploads/profile_pictures/' ~ app.user.profilePicture) }}" alt="Profile Picture">
            {% else %}
                <img src="{{ asset('admin/images/faces/face28.png') }}" alt="Default Profile">
            {% endif %}
        </div>
        <div class="user-name">
            {% if app.user.fullName %}
                {{ app.user.fullName }}
            {% else %}
                {{ app.user.email }}
            {% endif %}
        </div>
        <div class="user-designation">
            Freelance Developer
        </div>
    </div>
    <!-- Sidebar Menus -->
    {% include 'admin/_sidebar_menus.html.twig' %}
    <!-- Sidebar Menus -->
</nav>